body {
    margin: 0;
    background-color: #1c1c1c;
    text-align: center;
    max-width: 100%;
}

.container {
    display: block;
    justify-content: space-around;
    background: #1F2937;
    max-width: 80%;
    margin: 5% auto;
    border: 2px solid #000000;
    border-radius: 5%;
}